# Python ignores
__pycache__/
*.py[cod]
.venv/
venv/

# IDEs and OS
.vscode/
.idea/
.DS_Store

# YAPM build stuff and testing
*.yapm
index.json
test-mirror/
hello-world/

# YAPM Stuff
/yapm-package-format-v2/*
pyproject.toml